<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malliaris_traga.dietplanner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/circlecropped"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circlecropped"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietPlanner">
        <activity android:name=".FoodSelectionActivity"></activity>
        <activity android:name=".MeasurementsActivity" />
        <activity android:name=".FoodQuantityActivity" />
        <activity android:name=".UpdateUserActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>